html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #eee;
}

footer {
    margin-top: auto;
}

a {
    text-decoration: none;
}

.footerLink{
    color: #444;
}

.bi {
    color: #fff;
    font-size: 1.3rem;
}

.bi:hover {
    color: #ddd;
}

#linkDias {
    cursor: pointer;
}